@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --cool-red: rgb(163, 71, 71);
}

.red-hover:hover {
  color: var(--cool-red)
}

::selection {
  background: var(--cool-red);
  color: #fff;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Clash Display', 'Montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: 0.01em;
}

.blog-link {
  font-family: 'Fira Mono', monospace;
  font-size: 1.1rem;
  font-weight: 400;
}

code {
  background-color: #e0e0e0; /* Slightly darker grey for inline code */
  padding: 2px 4px;
  border-radius: 3px;
}